/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017/9/1, 下午 11:41:46
    Author     : Danny Chen
*/
.jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
    height: 100%;
}

.container-fluid {
    padding: 60px 50px;
}